.cookies-notification__button {
    padding: 8px 20px;
    border-radius: 4px;
    border: 0;
    font-weight: bold;
    font-size: $font-default-size;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &.cookies-notification__button--confirm {
        background-color: $color-dark;
        color: white;

        &:hover {
            background-color: rgba($color: $color-dark, $alpha: 0.85);
        }
    }

    &.cookies-notification__button--cancel {
        background-color: $color-cancel;
        color: white;

        &:hover {
            background-color: rgba($color: $color-cancel, $alpha: 0.85);
        }
    }
}
