// Colors
$color-muted: #444444;
$color-light: #f5f5f5;
$color-dark: #333333;

$color-cancel: #a21c1c;

// Lenghts
$max-width-wrapper: 400px;
$padding-wrapper: 15px;
$default-z-index: 999;

// Sizes
$font-default-size: 14px;
